body{
  font-family: 'PT Sans', sans-serif;
  background-position:center;
    text-align:center;
      text-decoration: none;

  background-color:#fff;

}


.titel{
height: 300px;
background-color:#696969;
}


h1{
  font-family: 'Indie Flower', cursive;
  text-align:center;
	font-size:80px;
	color:#F5F5F5;
  padding-top: 100px;



}

.cirkel{
  background-image: url("suus.jpg");
  background-size:cover;
  border-radius: 50%;
  height: 200px;
  width: 200px;
margin-left: 40%;
margin-top: 10px;
margin-bottom: 10px;

}

.aside {

	width: 175px;
	height: 500px;
	margin: 0 0 50px 0;
	float: right;
  margin-right: 30px;
  margin-top: 100px;
}

nav{
  text-decoration: none;
  color:#fff;
}

.navigatie{
  text-decoration: none;
  color:#fff;

}
li{
  text-decoration: none;
  color:#fff;
}


.eerste{
margin-top: 100px;
float: left;
margin-left: 60px;


}

.tekst1{
  margin-left: 10%;
  width: 500px;
}

.titel1{
  font-family: 'Indie Flower', cursive;
padding-left: 100px;
  font-size:30px;
  width: 400px;



}

.tweede{
  margin-left: 60px;
margin-top: 800px;

width: 400px;
}

.tekst2{
  margin-left: 10%;
  width: 500px;
}

.titel2{
  font-family: 'Indie Flower', cursive;
padding-left: 100px;
  font-size:30px;
  width: 400px;




}

.derde{
  margin-left: 350px;
  margin-top: 50px;

width: 400px;
}

.tekst3{
  margin-left: 10%;
  width: 500px;
}


.titel3{
  font-family: 'Indie Flower', cursive;
padding-left: 100px;
  font-size:30px;
  width: 400px;
}


.foto1{
  margin-top: 20px;
}

.foto2{
  margin-top: 20px;
}

.foto3{
  margin-top: 20px;
}

.vierde{
  float: left;
  width: 400px;
 
  margin-left: 700px;
}

.tekst4{

  width: 400px;
}


.titel4{
  font-family: 'Indie Flower', cursive;

  font-size:30px;
  width: 400px;
}

.vijfde{

  float: left;
  width: 400px;
  margin-left: 700px;
}

.tekst5{

  width: 400px;
}


.titel5{
  font-family: 'Indie Flower', cursive;

  font-size:30px;
  width: 400px;
}

.foto5{
  width: 400px;
  height: 400px;
}
